body {
    background-color:#172a45;
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    text-align: center;

}

.container {
    margin:0 23%;
}

#navBar {
    height: 80px;
    width: 100%;
    background-color:#0a192f;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 0;
}

#logo {
    margin-left: 30px;
    font-size: 1.7em;
    display: flex;
    align-items: center;
}

#navBar ul {
    padding:0;
    padding-left: 50%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

#navBar li {
    display: inline;
}

#navBar a {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

.front-screen {
    color: #fff;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-text {
    text-align: left;
    line-height: 0.8em;
}

.highlight {
    color: #fff;
    font-size: 50px;
}

#about {
    min-height: 100vh;
    padding-top: 25%;
}

#about-text {
    text-align: justify;
    margin: 0 5%;
}

#projects{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10% 0;
  min-height: 100vh;
  max-height: 70%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.card {
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: #0a192f;
  width: 300px;
  height: 500px;
  margin-bottom: 15px;
}

.card-content {
  padding: 1rem;
}

.name {
    height: 45px;
}

.card-image {
  height: 250px;
  width: 250px;
  margin-left: -25px;
}

.card-image img {
  height: 250px;
}

.link-tag {
    font-size: 28px;
}

.link-tag a {
    color: #64ffda;
    text-decoration-line: none;
}

.tech_used {
    font-size: 0.8em;
    margin-bottom: 0px;
}

.project_description {
    margin-bottom: 0px;
}

#contact {
    margin-top: 200px;
}

.button {
    background-color: #333;
    color:#fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background: red;
    color: #fff;
}

.my-form {
    padding:20px;
    text-align: left;
}

.my-form .form-group {
    padding-bottom:15px;
}

.my-form label {
    display:block;
}

.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
}

#upBtn {
  /* display: none; */
  background-color: #172a45;
  border: none;
  color: #64ffda;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  bottom: 20px;
  right: 30px;
}

#footer {
    margin-top: 20px;
    color: #4d5a6e;
}

#top-text p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    line-height: 1.2em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #64ffda; }
}